<!--Header-->
<%- include('../partials/header') %>

    <link rel="stylesheet" href="http://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">

    <body>
        <div id="wrapper">

            <!--Nav Bar-->
            <%- include('../partials/navbar') %>

                <div id="page-wrapper" class="gray-bg">

                    <!--Nav Bar White-->
                    <%- include('../partials/navbar-white') %>

                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-lg-10">
                                <h2>Cálculos</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="/calc">Cálculos</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <strong>Novo</strong>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="wrapper wrapper-content animated fadeInRight">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox ">
                                        <div class="ibox-title">
                                            <h5>Cálculo <small></small></h5>
                                        </div>
                                        <div class="ibox-content">

                                            <div class="row">
                                                <div class="col-sm-12">

                                                    <!-- NAVIGATION -->
                                                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#typeCalc" role="tab" aria-controls="typeCalc" aria-selected="true">Tipo de Cálculo
                                                            </a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="cnis-tab" data-toggle="tab" href="#cnis" role="tab" aria-controls="cnis" aria-selected="false">Upload do CNIS</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="navaids-tab" data-toggle="tab" href="#contribution" role="tab" aria-controls="contribution" aria-selected="false">Tempo de Contribuição</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="frequencia-tab" data-toggle="tab" href="#wage" role="tab" aria-controls="wage" aria-selected="false">Salários de Contribuição</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="informacoes-tab" data-toggle="tab" href="#informacoes" role="tab" aria-controls="informacoes" aria-selected="false">Regras de Transição</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" id="imageAircraft-tab" data-toggle="tab" href="#imageAircraft" role="tab" aria-controls="imageAircraft" aria-selected="false">Resulmo do Calculo</a>
                                                        </li>
                                                    </ul>

                                                    <br>
                                                    <div class="row tab-content" id="nav-tabContent">
                                                        <div class="col-12 tab-pane fade show active" id="typeCalc" role="tabpanel">
                                                            <form name="form_calc" id="form_calc">
                                                                <!-- Tipo de calculo -->
                                                                <div class="card">

                                                                    <div class="card-body">
                                                                        <div class="form-group row">
                                                                            <label class="col-sm-2 col-form-label">Qual calculo deseja
                                                                                Fazer?</label>
                                                                            <div class="col-sm-10">
                                                                                <select id="select_type" name="select_type" class="form-control">
                                                                                    <option value="" disabled selected>Selecione um tipo
                                                                                        de cálculo</option>
                                                                                    <option value="1">Cálculo de revisões, valor da
                                                                                        causa ou liquidação de sentença</option>
                                                                                    <option value="2">Cálculo da R.M.I, do tempo de
                                                                                        contribuição e planejamento futuro</option>
                                                                                    <option value="3">Cálculo de tempo de contribuição
                                                                                    </option>
                                                                                    <option value="4">Cálculo do melhor benefício em um
                                                                                        período</option>
                                                                                    <option value="5">Cálculo das contribuições em
                                                                                        atraso</option>
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                        <div class="hr-line-dashed"></div>
                                                                        <div class="form-group  row">
                                                                            <label class="col-sm-2 col-form-label">Qual a especie do
                                                                                benefício?</label>
                                                                            <div class="col-sm-10">
                                                                                <select id="select_type" name="select_type" class="form-control">
                                                                                    <option value="2" disabled selected>Benefícios
                                                                                        Programáveis</option>
                                                                                    <option value="42">Aposentadoria por tempo de
                                                                                        contribuição ou programada </option>
                                                                                    <option value="57">Aposentadoria por tempo de
                                                                                        contribuição ou programada de professor (até
                                                                                        nivel médio)</option>
                                                                                    <option value="46">Aposentadoria especial</option>
                                                                                    <option value="41">Aposentadoria por idade ou
                                                                                        programada</option>
                                                                                    <option value="07">Aposentadoria por idade ou
                                                                                        programada</option>
                                                                                    <option value="" disabled selected>Benefícios por
                                                                                        incapacidade</option>
                                                                                    <option value="31">Auxílio doença previdenciário ou
                                                                                        incapacidade temporária</option>
                                                                                    <option value="91">Auxílio doença acidentário ou
                                                                                        incapacidade temporária</option>
                                                                                    <option value="32">Invalidez ou incapacidade
                                                                                        permanente previdenciário</option>
                                                                                    <option value="92">Invalidez ou incapacidade
                                                                                        permanente por acidente do trabalho</option>
                                                                                    <option value="36">Auxílio acidente previdenciário
                                                                                    </option>
                                                                                    <option value="94">Auxílio acidente por acidente do
                                                                                        trabalho</option>
                                                                                    <option value="80">Salário maternidade</option>
                                                                                    <option value="" disabled selected>Benefícios quanto
                                                                                        aos dependentes</option>
                                                                                    <option value="21">Pensão por morte previdenciária
                                                                                    </option>
                                                                                    <option value="93">Pensão por morte por acidente de
                                                                                        trabalho</option>
                                                                                    <option value="25">Auxílio reclusão</option>
                                                                                    <option value="" disabled selected>Benefícios
                                                                                        assistencias</option>
                                                                                    <option value="87">Amparo assistencial ao portador
                                                                                        de deficiência</option>
                                                                                    <option value="88">Amparo Assistencial ao idoso
                                                                                    </option>
                                        
                                                                                </select>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <br>
                                                                <button class="btn btn-primary fa fa-save"> Salvar alterações</button>
                                                                <button class="btn btn-white fa fa-arrow-left"> Voltar</button>
                                                            </form>
                                                        </div>

                                                        <!-- cnis -->
                                                        <div class="col-lg-12 col-md-12 tab-pane fade" id="cnis" role="tabpanel">
                                                            <form name="form_cnis" id="form_cnis">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <input type="file" id="pdf" name="pdf" class="dropify">
                                                                    </div>
                                                                </div>

                                                                <div class="col-lg-2" style="margin-top: 30px;">
                                                                    <button class="btn btn-primary fas fa-file-import btn-sm btnRegister"> Importar Cnis</button>
                                                                </div>
                                                            </form>
                                                        </div>

                                                        <!-- tempo de contribuição -->
                                                        <div class="col-lg-12 col-md-12 tab-pane fade" id="contribution" role="tabpanel">
                                                            <form name="form_contribution" id="form_contribution">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <h1>Tempo de Contribuição</h1>
                                                                        <h4>Como deseja informar o tempo de contribuição?</h4>

                                                                        <input type="radio" name="contribution" value="Informar os Períodos Trabalhados em cada Empresa" /> Informar os Períodos Trabalhados em cada Empresa<br />
                                                                        <input type="radio" name="contribution" value="Informar Diretamente o Tempo de Contribuição do Requerente" /> Informar Diretamente o Tempo de Contribuição do Requerente
                                                                        <br>
                                                                        <br>
                                                                        <div id="table">
                                                                            <table border="1">
                                                                                <tr>
                                                                                    <td>N°</td>
                                                                                    <td>Data Inicial</td>
                                                                                    <td>Data Final</td>
                                                                                    <td>Tipo</td>
                                                                                    <td>Fator</td>
                                                                                    <td>Empresa</td>
                                                                                    <td>Cargo</td>


                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>034</td>
                                                                                    <td>23/12/2021</td>
                                                                                    <td>25/01/2022</td>
                                                                                    <td>Periodo Normal</td>
                                                                                    <td>1000</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                                    <td>PROMOTOR DE JUSTIÇA</td>
                                                                                </tr>
                                                                                <style>
                                                                                    #table {
                                                                                        max-width: 100%;
                                                                                        height: auto;
                                                                                        overflow: scroll;
                                                                                    }
                                                                                </style>
                                                                            </table>
                                                                            <br>
                                                                            <div>
                                                                                <input type="checkbox" id="scales" name="scales">
                                                                                <label for="scales">Não projetar o tempo de contribuição para o cálculo futuro</label>
                                                                            </div>
                                                                            <button class="btn btn-primary fa fa-trash"> Excluir</button>
                                                                            <button class="btn btn-white fa fa-edit"> Editar</button>
                                                                        </div>
                                                                        <br>
                                                                    </div>
                                                                </div>
                                                                <br>

                                                                <body id="body">
                                                                    <div class="row" id="cards">

                                                                        <div class="card green" id="cardGreen">
                                                                            <div id="h">
                                                                                <h3>Tempo de Contribuição</h3>
                                                                                <h4>28 anos, 5 meses e 12 dias</h4>
                                                                            </div>


                                                                            <div id="myProgress">
                                                                                <div id="myBarGreen">Faltam 1 ano, 6 meses e 18 dias</div>

                                                                                <script>
                                                                                    var i = 0;

                                                                                    function move() {
                                                                                        if (i == 0) {
                                                                                            i = 1;
                                                                                            var elem = document.getElementById("myBar");
                                                                                            var width = 10;
                                                                                            var id = setInterval(frame, 10);

                                                                                            function frame() {
                                                                                                if (width >= 100) {
                                                                                                    clearInterval(id);
                                                                                                    i = 0;
                                                                                                } else {
                                                                                                    width++;
                                                                                                    elem.style.width = width + "%";
                                                                                                    elem.innerHTML = width + "%";
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </script>
                                                                                <h3 id="h">Necessario: 30 anos</h3>
                                                                            </div>
                                                                        </div>

                                                                        <div class="card red" id="cardRed">
                                                                            <div id="h">
                                                                                <h3>Carência</h3>
                                                                                <h4>345 contribuições</h4>
                                                                            </div>

                                                                            <div id="myProgress">
                                                                                <div id="myBarRed">Atingido</div>

                                                                                <script>
                                                                                    var i = 0;

                                                                                    function move() {
                                                                                        if (i == 0) {
                                                                                            i = 1;
                                                                                            var elem = document.getElementById("myBar");
                                                                                            var width = 10;
                                                                                            var id = setInterval(frame, 10);

                                                                                            function frame() {
                                                                                                if (width >= 100) {
                                                                                                    clearInterval(id);
                                                                                                    i = 0;
                                                                                                } else {
                                                                                                    width++;
                                                                                                    elem.style.width = width + "%";
                                                                                                    elem.innerHTML = width + "%";
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </script>
                                                                                <h3 id="h">Necessario: 180 contribuições</h3>
                                                                            </div>
                                                                        </div>

                                                                        <div class="card blue" id="cardBlue">
                                                                            <div id="h">
                                                                                <h3>Pontos</h3>
                                                                                <h4>86 pontos</h4>
                                                                            </div>

                                                                            <div id="myProgress">
                                                                                <div id="myBarBlue">Faltam dois pontos</div>
                                                                                <script>
                                                                                    var i = 0;

                                                                                    function move() {
                                                                                        if (i == 0) {
                                                                                            i = 1;
                                                                                            var elem = document.getElementById("myBar");
                                                                                            var width = 10;
                                                                                            var id = setInterval(frame, 10);

                                                                                            function frame() {
                                                                                                if (width >= 100) {
                                                                                                    clearInterval(id);
                                                                                                    i = 0;
                                                                                                } else {
                                                                                                    width++;
                                                                                                    elem.style.width = width + "%";
                                                                                                    elem.innerHTML = width + "%";
                                                                                                }
                                                                                            }
                                                                                        }
                                                                                    }
                                                                                </script>
                                                                                <h3 id="h">Necessario 88 pontos</h3>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </body>
                                                                <style>
                                                                    #cardGreen {
                                                                        position: relative;
                                                                        left: -5px;
                                                                        border-radius: 5px;
                                                                        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
                                                                        padding: 30px;
                                                                        margin: 20px;
                                                                        width: 300px;
                                                                    }
                                                                    
                                                                    #cardRed {
                                                                        position: relative;
                                                                        left: 26px;
                                                                        border-radius: 5px;
                                                                        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
                                                                        padding: 30px;
                                                                        margin: 20px;
                                                                        width: 300px;
                                                                    }
                                                                    
                                                                    #cardBlue {
                                                                        position: relative;
                                                                        left: 55px;
                                                                        border-radius: 5px;
                                                                        box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);
                                                                        padding: 30px;
                                                                        margin: 20px;
                                                                        width: 300px;
                                                                    }
                                                                    
                                                                    #myBarGreen {
                                                                        width: 90%;
                                                                        height: 30px;
                                                                        background-color: #c70505;
                                                                        text-align: center;
                                                                        position: relative;
                                                                        border-radius: 10px;
                                                                        /* To center it horizontally (if you want) */
                                                                        line-height: 30px;
                                                                        /* To center it vertically */
                                                                        color: rgb(255, 255, 255);
                                                                    }
                                                                    
                                                                    #myBarRed {
                                                                        width: 100%;
                                                                        height: 30px;
                                                                        background-color: #08eb14;
                                                                        text-align: center;
                                                                        position: relative;
                                                                        border-radius: 10px;
                                                                        /* To center it horizontally (if you want) */
                                                                        line-height: 30px;
                                                                        /* To center it vertically */
                                                                        color: rgb(255, 255, 255);
                                                                    }
                                                                    
                                                                    #myBarBlue {
                                                                        width: 99%;
                                                                        height: 30px;
                                                                        background-color: #c70505;
                                                                        text-align: center;
                                                                        position: relative;
                                                                        border-radius: 10px;
                                                                        /* To center it horizontally (if you want) */
                                                                        line-height: 30px;
                                                                        /* To center it vertically */
                                                                        color: rgb(255, 255, 255);
                                                                    }
                                                                    
                                                                    #cards {
                                                                        text-align: center
                                                                    }
                                                                    
                                                                    #h {
                                                                        text-align: center;
                                                                    }
                                                                </style>

                                                                <!-- <div class="card">
                                                                    <div class="card-body">
                                                                        <h1>aaaaaaaaa</h1>
                                                                    </div>
                                                                </div> -->
                                                                <br>

                                                            </form>
                                                        </div>

                                                        <!-- Salarios de contribuição-->
                                                        <div class="col-lg-12 col-md-12 tab-pane fade" id="wage" role="tabpanel">
                                                            <form name="form_wage" id="form_wage">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                        <br>
                                                                        <br>
                                                                        <div id="table">
                                                                            <table border="1">
                                                                                <tr>
                                                                                    <td>Mês/Ano</td>
                                                                                    <td>Nome da Empresa</td>
                                                                                    <td>Valor do Salario</td>



                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>

                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>
                                                                                <tr>
                                                                                    <td>01/1992</td>
                                                                                    <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                                    <td>R$ 33.957,96</td>
                                                                                </tr>

                                                                            </table>
                                                                            <br>
                                                                            <div>
                                                                                <button class="btn btn-primary fa fa-trash"> Excluir</button>
                                                                                <button class="btn btn-white fa fa-edit"> Editar</button>
                                                                            </div>
                                                                            <br>
                                                                            <div>
                                                                                <input type="checkbox" id="scales" name="scales">
                                                                                <label for="scales"> Efetuar cálculo da vida toda (Considerar salários anteriores a 07/1994)</label>
                                                                            </div>
                                                                            <div>
                                                                                <input type="checkbox" id="scales" name="scales">
                                                                                <label for="scales"> Considerar 1 salário minimo nos meses sem salário de contribuição</label>

                                                                            </div>
                                                                            <div>
                                                                                <h6 id="subcrip">* Os salarios de contribuição exibidos na cor vermelha são menores que 1 salário minimo</h6>
                                                                            </div>
                                                                            <style>
                                                                                #table {
                                                                                    max-width: 100%;
                                                                                    height: auto;
                                                                                    overflow: scroll;
                                                                                }
                                                                                
                                                                                #subcrip {
                                                                                    color: red
                                                                                }
                                                                            </style>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>


                                                        <!-- informações adicionais -->
                                                        <div class="col-lg-12 tab-pane fade" id="informacoes" role="tabpanel">
                                                            <form name="form_info" id="form_info">
                                                                <input type="hidden" id="input_infoId" name="input_infoId">
                                                                <input type="hidden" id="input_airdromeId" name="input_airdromeId">
                                                                <div class="card">
                                                                    <div class="card-body">
                                                                        <div class="row">

                                                                            <label class="col-sm-2 col-form-label">Internacional</label>
                                                                            <div class="col-sm-4">
                                                                                <input type="checkbox" checked data-toggle="toggle" data-on=" " data-off=" " data-onstyle="success" id="input_international" name="input_international" data-offstyle="danger" data-size="xs">
                                                                            </div>
                                                                            <label class="col-sm-2 col-form-label">Requer
                                                                                Slot</label>
                                                                            <div class="col-sm-4">
                                                                                <input type="checkbox" checked data-toggle="toggle" data-on=" " data-off=" " data-onstyle="success" id="input_requireSlot" name="input_requireSlot" data-offstyle="danger" data-size="xs" onchange="console.log()">
                                                                            </div>
                                                                        </div>
                                                                        <div class="hr-line-dashed"></div>
                                                                        <div class="row">
                                                                            <label class="col-sm-2 col-form-label">Requer
                                                                                autorização de pátio</label>
                                                                            <div class="col-sm-4">
                                                                                <input type="checkbox" checked data-toggle="toggle" data-on="  " data-off="  " data-onstyle="success" id="input_patioAuthorization" name="input_patioAuthorization" data-offstyle="danger" data-size="xs">
                                                                            </div>
                                                                            <label class="col-sm-2 col-form-label">Possui
                                                                                iluminação</label>
                                                                            <div class="col-sm-4">
                                                                                <input type="checkbox" checked data-toggle="toggle" data-on="  " data-off="  " data-onstyle="success" id="input_hasLighting" name="input_hasLighting" data-offstyle="danger" data-size="xs">
                                                                            </div>
                                                                        </div>
                                                                        <div class="hr-line-dashed"></div>

                                                                        <label class="col-sm-2 col-form-label"></label>
                                                                        <div class="col-sm-12">
                                                                            <textarea type="text" rows="4" name="input_comment" id="input_comment" class="form-control" placeholder="Digite aqui seu comentário"></textarea>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <br>
                                                                <div class="form-group">
                                                                    <div class="col-sm-4">
                                                                        <button class="btn btn-white btn-sm btnClearInfo">Limpar</button>
                                                                        <button class="btn btn-primary btn-sm btnSaveInfo">Salvar</button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <div class="ibox">
                                                                        <div class="ibox-content">

                                                                            <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                                                                <thead>
                                                                                    <tr>

                                                                                        <th data-toggle="true">
                                                                                            Internacional
                                                                                        </th>
                                                                                        <th data-hide="phone">Requer Slot
                                                                                        </th>
                                                                                        <th data-hide="phone">
                                                                                            Autorização de Patio</th>
                                                                                        <th data-hide="phone">
                                                                                            Possui iluminação</th>
                                                                                        <th data-hide="phone">
                                                                                            Comentário</th>
                                                                                        <th data-hide="phone">Status
                                                                                        </th>
                                                                                        <th class="text-right" data-sort-ignore="true">
                                                                                            Action</th>

                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody id="table_airdromeAddInfo">
                                                                                    <tr>
                                                                                        <td>
                                                                                            Não
                                                                                        </td>
                                                                                        <td>
                                                                                            Sim
                                                                                        </td>
                                                                                        <td>
                                                                                            Sim
                                                                                        </td>
                                                                                        <td>
                                                                                            Sim
                                                                                        </td>
                                                                                        <td>
                                                                                            Sim
                                                                                        </td>
                                                                                        <td>
                                                                                            <span class="label label-primary">Enabled</span>
                                                                                        </td>
                                                                                        <td class="text-right">
                                                                                            <div class="btn-group">
                                                                                                <button class="btn-white btn btn-xs"><i
                                                                                                        class="fa fa-search"></i>
                                                                                                    View</button>
                                                                                                <button class="btn-white btn btn-xs"><i
                                                                                                        class="fa fa-edit"></i>
                                                                                                    Edit</button>
                                                                                                <button class="btn-white btn btn-xs"><i
                                                                                                        class="far fa-trash-alt"></i>
                                                                                                    Delete</button>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tbody>
                                                                                <tfoot>
                                                                                    <tr>
                                                                                        <td colspan="6">
                                                                                            <ul class="pagination float-right">
                                                                                            </ul>
                                                                                        </td>
                                                                                    </tr>
                                                                                </tfoot>
                                                                            </table>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <!-- Foto Aeronave -->
                                                        <div class="col-lg-12 tab-pane fade" id="imageAircraft" role="tabpanel">
                                                            <form name="form_media" id="form_media">
                                                                <input type="hidden" id="input_mediaId" name="input_mediaId">
                                                                <input type="hidden" id="input_airdromeId" name="input_airdromeId">
                                                                <div class="card">
                                                                    <div class="card-body">

                                                                    </div>
                                                                    <div class="row">
                                                                        <div class="col-lg-12">
                                                                            <div class="col-lg-12">
                                                                                <div class="card">


                                                                                    <form class="card" id="formRegister" method="post" enctype="multipart/form-data">
                                                                                        <div class="row">
                                                                                            <div class="col-md-12">
                                                                                                <div class="avatar avatar-more">
                                                                                                    </span>
                                                                                                    <!-- <span>Insira a
                                                                                                        <strong>
                                                                                                            Foto(s)/Vídeo(s)
                                                                                                        </strong>
                                                                                                    </span> -->
                                                                                                </div>
                                                                                                <input type="file" id="photo" class="dropify">
                                                                                            </div>
                                                                                        </div>
                                                                                    </form>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <br>
                                                                    <div class="form-group">
                                                                        <div class="col-sm-4">
                                                                            <button class="btn btn-white btn-sm btnClear_photoAircraft">Limpar</button>
                                                                            <button class="btn btn-primary btn-sm btnSave_photoAircraft">Salvar</button>
                                                                        </div>
                                                                    </div>



                                                                </div>
                                                            </form>

                                                        </div>

                                                    </div>

                                                    <!-- <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <div class="col-sm-4">
                                                                <button class="btn btn-white btn-sm"
                                                                    type="submit">Cancel</button>
                                                                <button class="btn btn-primary btn-sm"
                                                                    type="submit">Save changes</button>
                                                            </div>
                                                        </div> -->

                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Footer-->
                        <%- include('../partials/footer') %>



                </div>

                <!--Right sidebar-->
                <%- include('../partials/mainly-scripts') %>

                    <!-- FooTable -->
                    <script src="/js/plugins/footable/footable.all.min.js"></script>

                    <!-- Select2 -->
                    <script src="/js/plugins/select2/select2.full.min.js"></script>

                    <!-- Datepicker -->
                    <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>

                    <!-- Steps -->
                    <script src="/js/plugins/steps/jquery.steps.min.js"></script>

                    <!-- Plan Edit -->
                    <script src="/js/pages/calcEdit.js"></script>

                    <script src="http://jeremyfagis.github.io/dropify/dist/js/dropify.js"></script>

                    <!-- Page-Level Scripts -->
                    <script>
                        $(document).ready(function() {

                            $('.footable').footable();

                            $("#wizard").steps({
                                bodyTag: "fieldset",
                                stepsOrientation: "vertical",
                                enableAllSteps: true,
                                labels: {
                                    cancel: "Voltar",
                                    current: "Step atual:",
                                    pagination: "Paginação'",
                                    finish: "Finalizar",
                                    next: "Próximo",
                                    previous: "Anterior",
                                    loading: "Carregando..."
                                }
                            });

                        });
                    </script>
    </body>

    </html>