<!--Header-->
<%- include('../partials/header') %>

    <link rel="stylesheet" href="http://jeremyfagis.github.io/dropify/dist/css/dropify.min.css">

    <body>
        <div id="wrapper">

            <!--Nav Bar-->
            <%- include('../partials/navbar') %>

                <div id="page-wrapper" class="gray-bg">

                    <!--Nav Bar White-->
                    <%- include('../partials/navbar-white') %>

                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-lg-10">
                                <h2>Cálculos</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="/calc">Cálculo/a>
                            </li>
                            <li class="breadcrumb-item active">
                                <strong>Novo</strong>
                            </li>
                        </ol>
                    </div>
                </div>

                <div class="wrapper wrapper-content animated fadeInRight ecommerce">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="panel blank-panel">
                                <div class="panel-heading">
                                    <div class="panel-options"></div>
                                </div>
                                <div class="panel-body">
                                    <div class="col-lg-12">
                                        
                                        <div id="wizard" class="wizard-big">

                                            <h1>Tipo de Cálculo</h1>
                                            <fieldset>
                                                        <!-- Tipo de calculo -->
                                                        <div class="card">
                                                            <div class="card-body">
                                                                <div class="form-group row">
                                                                    <label class="col-sm-2 col-form-label">Qual calculo deseja Fazer?</label>
                                                                        <div class="col-sm-10">
                                                                            <select id="select_type" name="select_type" class="form-control">
                                                                                <option value="" disabled selected>Selecione um tipo
                                                                                    de cálculo</option>
                                                                                <option value="1">Cálculo de revisões, valor da
                                                                                    causa ou liquidação de sentença</option>
                                                                                <option value="2">Cálculo da R.M.I, do tempo de
                                                                                    contribuição e planejamento futuro</option>
                                                                                <option value="3">Cálculo de tempo de contribuição
                                                                                </option>
                                                                                <option value="4">Cálculo do melhor benefício em um
                                                                                    período</option>
                                                                                <option value="5">Cálculo das contribuições em
                                                                                    atraso</option>
                                                                            </select>
                                                                        </div>
                                                                 </div>
                                                                 <div class="hr-line-dashed">
                                                                 </div>
                                                                 <div class="form-group  row">
                                                                    <label class="col-sm-2 col-form-label">Qual a especie do benefício?</label>
                                                                        <div class="col-sm-10">
                                                                            <select id="select_type" name="select_type" class="form-control">
                                                                                <option value="2" disabled selected>Benefícios
                                                                                    Programáveis</option>
                                                                                <option value="42">Aposentadoria por tempo de
                                                                                    contribuição ou programada </option>
                                                                                <option value="57">Aposentadoria por tempo de
                                                                                    contribuição ou programada de professor (até
                                                                                    nivel médio)</option>
                                                                                <option value="46">Aposentadoria especial</option>
                                                                                <option value="41">Aposentadoria por idade ou
                                                                                    programada</option>
                                                                                <option value="07">Aposentadoria por idade ou
                                                                                    programada</option>
                                                                                <option value="" disabled selected>Benefícios por
                                                                                    incapacidade</option>
                                                                                <option value="31">Auxílio doença previdenciário ou
                                                                                    incapacidade temporária</option>
                                                                                <option value="91">Auxílio doença acidentário ou
                                                                                    incapacidade temporária</option>
                                                                                <option value="32">Invalidez ou incapacidade
                                                                                    permanente previdenciário</option>
                                                                                <option value="92">Invalidez ou incapacidade
                                                                                    permanente por acidente do trabalho</option>
                                                                                <option value="36">Auxílio acidente previdenciário
                                                                                </option>
                                                                                <option value="94">Auxílio acidente por acidente do
                                                                                    trabalho</option>
                                                                                <option value="80">Salário maternidade</option>
                                                                                <option value="" disabled selected>Benefícios quanto
                                                                                    aos dependentes</option>
                                                                                <option value="21">Pensão por morte previdenciária
                                                                                </option>
                                                                                <option value="93">Pensão por morte por acidente de
                                                                                    trabalho</option>
                                                                                <option value="25">Auxílio reclusão</option>
                                                                                <option value="" disabled selected>Benefícios
                                                                                    assistencias</option>
                                                                                <option value="87">Amparo assistencial ao portador
                                                                                    de deficiência</option>
                                                                                <option value="88">Amparo Assistencial ao idoso
                                                                                </option>

                                                                            </select>
                                                                        </div>
                                                                 </div>
                                                                    <div class="hr-line-dashed">    
                                                                    </div>
                                                                        <input type="file" id="pdf" name="pdf" class="dropify">
                                                            </div>
                                                            <div class="col-lg-2" style="margin-top: 15px;">
                                                                <button class="btn btn-primary  btn-sm btnRegister"> Importar Cnis</button>
                                                            </div>
                                                            <br>
                                                            <br>
                                                        </div>
                                                     <!--    <div class="modal fade" id="myModal" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                            <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
                                                                <div class="modal-content">
                                                                    <div class="modal-header">
                                                                        <h5 class="modal-title" id="exampleModalLabel">Sucesso</h5>
                                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                            <span aria-hidden="true">&times;</span>
                                                                        </button>
                                                                    </div>
                                                                    <div class="modal-body">
                                                                        <strong>Importação concluida com sucesso. <br><br> Atenção!!! Os dados importados precisam ser conferidos, pois dependendo da formatação do arquivo PDF, pode não ser possível a leitura correta de alguma(s) informação(ões)</strong>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button class="btn btn-primary btn-sm btnNext">Vou Conferir!</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-2" style="margin-top: 30px;">
                                                            <a class="btn btn-white fa fa-arrow-left btn-sm btnCancel"> Voltar</a>
                                                        </div> -->                                        
                                            </fieldset>

                                            <h1 id="pdf">Tempo de Contribuição</h1>
                                            <fieldset>
                                                <div class="container">
                                                    <h1>Tempo de Contribuição</h1>
                                                    <h4>Como deseja informar o tempo de contribuição?</h4>
                                                    <form>
                                                        <label class="radio-inline">
                                                            <input type="checkbox" name="contribution" /> Informar os Períodos Trabalhados em cada Empresa
                                                        </label>
                                                        <label class="radio-inline">
                                                            <input type="checkbox" name="contribution" /> Informar Diretamente o Tempo de Contribuição do Requerente
                                                        </label>
                                                    </form>
                                                </div>

                                                <div id="table">
                                                    <table id="table" class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                                        <thead>
                                                            <tr>
                                                                <th>N°</th>
                                                                <th id="DataInicial">Data Inicial</th>
                                                                <th>Data Final</th>
                                                                <th>Tipo</th>
                                                                <th>Fator</th>
                                                                <th>Empresa</th>
                                                                <th>Cargo</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td id="num">001</td>
                                                                <td> 23/12/2021</td>
                                                                <td> 25/01/2022</td>
                                                                <td>Periodo Normal</td>
                                                                <td>1000</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                <td>PROMOTOR DE JUSTIÇA</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white fa fa-trash btn-sm btnDeleteTempo"> </a>
                                                                    <a class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>002</td>
                                                                <td> 23/12/2021</td>
                                                                <td> 25/01/2022</td>
                                                                <td>Periodo Normal</td>
                                                                <td>1000</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                <td>PROMOTOR DE JUSTIÇA</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>003</td>
                                                                <td> 23/12/2021</td>
                                                                <td> 25/01/2022</td>
                                                                <td>Periodo Normal</td>
                                                                <td>1000</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                <td>PROMOTOR DE JUSTIÇA</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>004</td>
                                                                <td> 23/12/2021</td>
                                                                <td> 25/01/2022</td>
                                                                <td>Periodo Normal</td>
                                                                <td>1000</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                <td>PROMOTOR DE JUSTIÇA</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>005</td>
                                                                <td> 23/12/2021</td>
                                                                <td> 25/01/2022</td>
                                                                <td>Periodo Normal</td>
                                                                <td>1000</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                <td>PROMOTOR DE JUSTIÇA</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>006</td>
                                                                <td> 23/12/2021</td>
                                                                <td> 25/01/2022</td>
                                                                <td>Periodo Normal</td>
                                                                <td>1000</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO MATO GROSSO</td>
                                                                <td>PROMOTOR DE JUSTIÇA</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                                <div>
                                                    <input type="checkbox" id="scales" name="scales">
                                                    <label for="scales">Não projetar o tempo de contribuição para o cálculo futuro</label>
                                                </div>
                                            
                                            
                                            
                                            </fieldset>
                                            
                                            <h1>Salario de Contribuição</h1>
                                            <fieldset>
                    
                                                
                                                <div id="table">
                                                    <table class="footable table table-stripped toggle-arrow-tiny" data-page-size="15">
                                                        <thead>
                                                            <tr>
                                                                <td>Mês/Ano</td>
                                                                <td>Nome da Empresa</td>
                                                                <td>Valor do Salario</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                    
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>01/1992</td>
                                                                <td>TRIBUNAL DE JUSTIÇA DO ESTADO DO MATO GROSSO</td>
                                                                <td>R$ 33.957,96</td>
                                                                <td>
                                                                    <a href="#" class="btn btn-white  fa fa-trash btn-sm btnDelete"> </a>
                                                                    <a href="#" class="btn btn-white fa fa-edit btn-sm btnEdit"> </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <div>
                                                        <input type="checkbox" id="scales" name="scales">
                                                        <label for="scales"> Efetuar cálculo da vida toda (Considerar salários anteriores a 07/1994)</label>
                                                    </div>
                                                    <div>
                                                        <input type="checkbox" id="scales" name="scales">
                                                        <label for="scales"> Considerar 1 salário minimo nos meses sem salário de contribuição</label>
                    
                                                    </div>
                                                    <div>
                                                        <h6 id="subcrip">* Os salarios de contribuição exibidos na cor vermelha são menores que 1 salário minimo</h6>
                                                    </div>
                                                    <!-- <div>
                                                                                                                            <input type="checkbox" id="scales" name="scales">
                                                                                                                            <label for="scales"> Efetuar cálculo da vida toda (Considerar salários anteriores a 07/1994)</label>
                                                                                                                        </div>
                                                                                                                        <div>
                                                                                                                            <input type="checkbox" id="scales" name="scales">
                                                                                                                            <label for="scales"> Considerar 1 salário minimo nos meses sem salário de contribuição</label>
                    
                                                                                                                        </div>
                                                                                                                        <div>
                                                                                                                            <h6 id="subcrip">* Os salarios de contribuição exibidos na cor vermelha são menores que 1 salário minimo</h6>
                                                                                                                        </div> -->
                    
                                                </div>
                                            </fieldset>

                                            <h1>Regras de Transição</h1>
                                            <fieldset>
                                                <h1 id="title1">Tempo Adicional de 100%</h1>
                                                <br>
                                                <div class="card">
                                                    <div id="timeContri">
                                                        <h3>Tempo de Contribuição (Necessário 33 anos, 2 meses e 5 dias):</h3>
                                                        <p>Possui 28 anos, 5 meses e 12 dias (Faltam 4 anos, 8 meses e 23 dias)</p>
                                                    </div>
                                                    <div id="rmiCard">
                                                        <h3>Provável RMI:</h3>
                                                        <p>R$ 4.470,71</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="card">
                                                    <div id="timeContri">
                                                        <h3>Idade (Necessario 57 anos na data da Aposentadoria):</h3>
                                                        <p>Possui Idade de 57 anos, 10 meses e 14 dias</p>
                                                    </div>
                                                    <div id="rmiCard">
                                                        <h3>Possivel Aposentadoria:</h3>
                                                        <p>10/05/2026</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <h1 id="title1">Transição por Idade</h1>
                                                <br>
                                                <div class="card">
                                                    <div id="timeContri">
                                                        <h3>Tempo de Contribuição (Necessário 15 anos na data da Aposentadoria):</h3>
                                                        <p>Possui 28 anos, 5 meses e 12 dias</p>
                                                    </div>
                                                    <div id="rmiCard">
                                                        <h3>Provável RMI:</h3>
                                                        <p>R$ 4.470,45</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="card">
                                                    <div id="timeContri">
                                                        <h3>Idade (Necessario 62 anos na data da Aposentadoria):</h3>
                                                        <p>Possui Idade de 57 anos, 10 meses e 14 dias</p>
                                                    </div>
                                                    <div id="rmiCard">
                                                        <h3>Possivel Aposentadoria:</h3>
                                                        <p>10/05/2026</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <h1 id="title1">Transição pelo Sistema de Pontos</h1>
                                                <br>
                                                <div class="card">
                                                    <div id="timeContri">
                                                        <h3>Tempo de Contribuição (Necessário 30 anos na data da Aposentadoria:</h3>
                                                        <p>Possui 28 anos, 5 meses e 12 dias (Faltam 1 ano, 6 meses e 18 dias)</p>
                                                    </div>
                                                    <div id="rmiCard">
                                                        <h3>Provável RMI:</h3>
                                                        <p>R$ 4.367,75</p>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="card">
                                                    <div id="timeContri">
                                                        <h3>Idade (Necessario 30 anos na data da aposentadoria):</h3>
                                                        <p>Possui Idade de 57 anos, 10 meses e 14 dias (Carência = 345)</p>
                                                    </div>
                                                    <div id="rmiCard">
                                                        <h3>Possivel Aposentadoria:</h3>
                                                        <p>02/10/2025</p>
                                                    </div>
                                                </div>
                                            </fieldset>

                                            <h1>Resumo do Cálculo</h1>
                                            <fieldset>
                                                <h1 id="title1">Tempo Adicional de 100%</h1>
                                                <br>
                                                <body id="body">
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Tempo de Contribuição</h3>
                                                            <h4>28 anos, 5 meses e 12 dias</h4>
                                                            <div class="progress progress-mini">
                                                            <div style="width:90%;" class="progress-bar progress-bar-danger"></div>
                                                            </div>
                                                            <h3>Necessario: 30 anos</h3>
                                                        </div>
                                                    </div>
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Carência</h3>
                                                            <h4>345 contribuições</h4>
                                                            <div class="progress progress-mini">
                                                            <div style="width: 100%;" class="progress-bar"></div>
                                                            </div>
                                                            <h3>Necessario: 180 contribuições</h3>
                                                        </div>
                                                    </div>
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Pontos</h3>
                                                            <h4>86 pontos</h4>
                                                            <div class="progress progress-mini">
                                                            <div style="width: 98%;" class="progress-bar progress-bar-danger"></div>
                                                            </div>
                                                            <h3>Necessario 88 pontos</h3>
                                                        </div>
                                                    </div>
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Provável R.M.I</h3>
                                                            <div id="myProgress">
                                                            <div>R$ 4.470,45</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </body>
                                                <h1 id="title1">Transição por Idade</h1>
                                                <br>
                                                <body id="body">
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Tempo de Contribuição</h3>
                                                            <h4>28 anos, 5 meses e 12 dias</h4>
                                                            <div class="progress progress-mini">
                                                            <div style="width:90%;" class="progress-bar progress-bar-danger"></div>
                                                            </div>
                                                            <h3>Necessario: 30 anos</h3>
                                                        </div>
                                                    </div>
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Carência</h3>
                                                            <h4>345 contribuições</h4>
                                                            <div class="progress progress-mini">
                                                            <div style="width: 100%;" class="progress-bar"></div>
                                                            </div>
                                                            <h3>Necessario: 180 contribuições</h3>
                                                        </div>
                                                    </div>
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Pontos</h3>
                                                            <h4>86 pontos</h4>
                                                            <div class="progress progress-mini">
                                                            <div style="width: 98%;" class="progress-bar progress-bar-danger"></div>
                                                            </div>
                                                            <h3>Necessario 88 pontos</h3>
                                                        </div>
                                                    </div>
                                                    <div class="ibox">
                                                        <div style="text-align: center;" class="ibox-content">
                                                            <h3>Provável R.M.I</h3>
                                                            <div id="myProgress">
                                                            <div>R$ 4.470,45</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </body>
                                            </fieldset>
                    

                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!--Footer-->
                <%- include('../partials/footer') %>

            </div>
        </div>

        <!--Right sidebar-->
        <%- include('../partials/right-sidebar') %>

        <!--Right sidebar-->
        <%- include('../partials/mainly-scripts') %>

        <!-- FooTable -->
        <script src="/js/plugins/footable/footable.all.min.js"></script>

        <!-- Select2 -->
        <script src="/js/plugins/select2/select2.full.min.js"></script>

        <!-- Datepicker -->
        <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>

        <!-- Steps -->
        <script src="/js/plugins/steps/jquery.steps.min.js"></script>

        <!-- Cal Edit -->
        <script src="/js/pages/calcEdit.js"></script>

    </body>

    </html>