<!--Header-->
<%- include('../partials/header') %>

    <body>
        <div id="wrapper">

            <!--Nav Bar-->
            <%- include('../partials/navbar') %>

                <div id="page-wrapper" class="gray-bg">

                    <!--Nav Bar White-->
                    <%- include('../partials/navbar-white') %>

                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-lg-10">
                                <h2>Cálculos</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="index.html">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a>Cálculos</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <strong>Novo</strong>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="wrapper wrapper-content animated fadeInRight ecommerce">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="panel blank-panel">
                                        <div class="panel-heading">
                                            <div class="panel-options"></div>
                                        </div>
                                        <div class="panel-body">
                                            <div class="col-lg-12">
                                                <div id="wizard" class="wizard-big">

                                                    <h1>Tipo de Cálculo</h1>
                                                    <fieldset>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Qual calculo deseja Fazer?</label>
                                                            <div class="col-sm-10">
                                                                <select id="select_type" name="select_type"
                                                                    class="form-control">
                                                                    <option value="" disabled selected>Selecione um tipo de cálculo</option>
                                                                    <option value="1">Cálculo de revisões, valor da causa ou liquidação de sentença</option>
                                                                    <option value="2">Cálculo da R.M.I, do tempo de contribuição e planejamento futuro</option>
                                                                    <option value="3">Cálculo de tempo de contribuição</option>
                                                                    <option value="4">Cálculo do melhor benefício em um período</option>
                                                                    <option value="5">Cálculo das contribuições em atraso</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group  row">
                                                            <label class="col-sm-2 col-form-label">Qual a especio do benefício?</label>
                                                            <div class="col-sm-10">
                                                                <select id="select_type" name="select_type"
                                                                    class="form-control">
                                                                    <option value="2" disabled selected>Benefícios Programáveis</option>
                                                                    <option value="42">Aposentadoria por tempo de contribuição ou programada </option>
                                                                    <option value="57">Aposentadoria por tempo de contribuição ou programada de professor (até nivel médio)</option>
                                                                    <option value="46">Aposentadoria especial</option>
                                                                    <option value="41">Aposentadoria por idade ou programada</option>
                                                                    <option value="07">Aposentadoria por idade ou programada</option>
                                                                    <option value="" disabled selected>Benefícios por incapacidade</option>
                                                                    <option value="31">Auxílio doença previdenciário ou incapacidade temporária</option>
                                                                    <option value="91">Auxílio doença acidentário ou incapacidade temporária</option>
                                                                    <option value="32">Invalidez ou incapacidade permanente previdenciário</option>
                                                                    <option value="92">Invalidez ou incapacidade permanente por acidente do trabalho</option>
                                                                    <option value="36">Auxílio acidente previdenciário</option>
                                                                    <option value="94">Auxílio acidente por acidente do trabalho</option>
                                                                    <option value="80">Salário maternidade</option>
                                                                    <option value="" disabled selected>Benefícios quanto aos dependentes</option>
                                                                    <option value="21">Pensão por morte previdenciária</option>
                                                                    <option value="93">Pensão por morte por acidente de trabalho</option>
                                                                    <option value="25">Auxílio reclusão</option>
                                                                    <option value="" disabled selected>Benefícios assistencias</option>
                                                                    <option value="87">Amparo assistencial ao portador de deficiência</option>
                                                                    <option value="88">Amparo Assistencial ao idoso</option>
                                                                    
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <!-- <div class="hr-line-dashed"></div>
                                                        <div class="form-group  row">
                                                            <label class="col-sm-2 col-form-label">Status</label>
                                                            <div class="col-sm-4">
                                                                <select class="form-control m-b" name="account">
                                                                    <option>Ativo</option>
                                                                    <option>Inativo</option>
                                                                </select>
                                                            </div>
                                                        </div> -->
                                                    </fieldset>

                                                    <h1>Upload do CNIS</h1>
                                                    <fieldset>

                                                    </fieldset>

                                                    <h1>Dados do Contribuinte</h1>
                                                    <fieldset>
                                                        
                                                    </fieldset>

                                                    <h1>Tempo de contribuição</h1>
                                                    <fieldset>
                                                        
                                                    </fieldset>


                                                    <h1>Salários</h1>
                                                    <fieldset>
                                                        
                                                    </fieldset>


                                                    <h1>Resumo</h1>
                                                    <fieldset>
                                                        
                                                    </fieldset>
                                                    

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Footer-->
                        <%- include('../partials/footer') %>

                </div>

                <!--Right sidebar-->
                <%- include('../partials/right-sidebar') %>

        </div>

        <!--Right sidebar-->
        <%- include('../partials/mainly-scripts') %>

            <!-- FooTable -->
            <script src="/js/plugins/footable/footable.all.min.js"></script>

            <!-- Select2 -->
            <script src="/js/plugins/select2/select2.full.min.js"></script>

            <!-- Datepicker -->
            <script src="/js/plugins/datapicker/bootstrap-datepicker.js"></script>

            <!-- Steps -->
            <script src="/js/plugins/steps/jquery.steps.min.js"></script>

            <!-- Dropzone -->
            <script src="/js/plugins/dropzone/dropzone.js"></script>

            <!-- Page-Level Scripts -->
            <script>
                $(document).ready(function () {

                    $('.footable').footable();

                    $("#wizard").steps({
                        bodyTag: "fieldset",
                        stepsOrientation: "vertical",
                        enableAllSteps: true,
                        labels: {
                            cancel: "Voltar",
                            current: "Step atual:",
                            pagination: "Paginação'",
                            finish: "Finalizar",
                            next: "Próximo",
                            previous: "Anterior",
                            loading: "Carregando..."
                        }
                    });

                });

            </script>
    </body>

    </html>