<!--Header-->
<%- include('../partials/header') %>

    <body>
        <div id="wrapper">

            <!--Nav Bar-->
            <%- include('../partials/navbar') %>

                <div id="page-wrapper" class="gray-bg">

                    <!--Nav Bar White-->
                    <%- include('../partials/navbar-white') %>

                        <div class="row wrapper border-bottom white-bg page-heading">
                            <div class="col-lg-10">
                                <h2>Organization</h2>
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item">
                                        <a href="/dashboard">Home</a>
                                    </li>
                                    <li class="breadcrumb-item">
                                        <a href="/organization">Organization</a>
                                    </li>
                                    <li class="breadcrumb-item active">
                                        <strong>
                                            <%= action %>
                                        </strong>
                                    </li>
                                </ol>
                            </div>
                        </div>

                        <div class="wrapper wrapper-content animated fadeInRight">

                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="ibox ">
                                        <div class="ibox-title">
                                            <h5>Organization <small></small></h5>
                                        </div>
                                        <div class="ibox-content">
                                            <form action="" id="form_organization">
                                                <input type="hidden" id="input_id" name="input_id">
                                                <div class="row">
                                                    <div class="col-sm-12">
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Name</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" name="input_name" id="input_name"
                                                                    class="form-control" placeholder="Nome">
                                                            </div>
                                                            <label class="col-sm-2 col-form-label">Descrição</label>
                                                            <div class="col-sm-4">
                                                                <input type="text" name="input_description"
                                                                    id="input_description" class="form-control" placeholder="Descrição">
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Status
                                                                Pagamento</label>
                                                            <div class="col-sm-4">
                                                                <select id="paymentStatus" name="paymentStatus"
                                                                    class="form-control">
                                                                    <option value="" disabled selected>
                                                                        Escolha o status
                                                                    </option>
                                                                    <option value="1">Ativo
                                                                    </option>
                                                                    <option value="2">Pendente Pagamento
                                                                    </option>
                                                                    <option value="3">Desativo
                                                                    </option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group row">
                                                            <label class="col-sm-2 col-form-label">Status</label>
                                                            <div class="col-sm-4">
                                                                <input type="checkbox" checked data-toggle="toggle"
                                                                    data-on="Active" data-off="Inactive"
                                                                    data-onstyle="success" data-offstyle="danger"
                                                                    data-size="xs" required>
                                                            </div>
                                                        </div>
                                                        <div class="hr-line-dashed"></div>
                                                        <div class="form-group">
                                                            <div class="col-sm-4">
                                                                <a class="btn btn-white btn-sm btnCancel">Back</a>
                                                                <button class="btn btn-primary btn-sm btnSave">Save changes</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!--Footer-->
                        <%- include('../partials/footer') %>

                </div>


        </div>

        <!--Right sidebar-->
        <%- include('../partials/mainly-scripts') %>

        <!-- FooTable -->
        <script src="/js/plugins/footable/footable.all.min.js"></script>

        <!-- Select2 -->
        <script src="/js/plugins/select2/select2.full.min.js"></script>

        <!-- Organization Edit -->
        <script src="/js/pages/organizationEdit.js"></script>

    </body>

    </html>